<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [44]:
# write your answer here
s= "I am currently pursuing my higher studies in UNT"
print(len(s))

48

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [21]:
# write your answer here
strn = input()
d0 = dict()
for x in strn:
    if x in d0:
        d0[x] = d0[x] + 1
    else:
            d0[x] = 1
print(d0)

perry
{'p': 1, 'e': 1, 'r': 2, 'y': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [1]:
# write your answer here
list1=[2, 5, 6]
total=sum(list1)
print(total)

13

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [25]:
# write your answer here
str1 = input()  
char = str1[0]  
length = len(stri)  
str1 = str1.replace(char, '$')  
str1 = char + str1[1:]  
print(str1)

helho
hel$o

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [29]:
# write your answer here
a=float(input())
b=float(input())
s=3.14*(1+a/b)**3
print(s)

2
6
7.4429629629629614

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
# write your answer here
dic1={1:10, 2:20}
dic2={4:20, 5:40}
dic3={3:30, 2:50}
full={}
for dic in [dic1,dic2,dic3]:
 full.update(dic)
print(full)

{1: 10, 2: 50, 4: 20, 5: 40, 3: 30}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [23]:
# write your answer here
tuple=('w','r','k','f',1,'d',8)
print('r' in tuple)
print(2 in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [38]:
# write your answer here
v=[4, 2, 8]
print(v)
print(type(v))
print("\nmaximum value in a set:")
print(max(v))
print("\nminimum value in a set:")
print(min(v))

[4, 2, 8]
<class 'list'>

maximum value in a set:
8

minimum value in a set:
2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [0]:
# write your answer here

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [49]:
# write your answer here
def duplicate(nums):
    N_set = set()
    no_dup = -1

    for i in range(len(nums)):

        if nums[i] in N_set:
            return nums[i]
        else:
            N_set.add(nums[i])

    return no_dup

print(duplicate([6, 1, 3, 4, 4, 7]))
print(duplicate([8,2,8,4,6,44,7,9]))
print(duplicate([1,2,3,4,5,6,7,8,9,0]))

4
8
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [46]:
# write your answer here
import pandas as pd
year = str(input())
start = year + "-01-01"
periods = 52
freq = "W-SUN"
sundays = pd.date_range(start=start, periods=periods, freq=freq)
print(sundays)

2021
DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
               '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')