<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [59]:
# Your code here
import random
no = 12
result = []
for i in range(no):
    ## range of the list
    number = random.randint(1,100)
    result.append(number)
print("random numbers list:",result)
## asscending order of the list
result.sort()
print("Asscending order of random list:",result)
##descending order of the list
result.sort(reverse=True)  
print("descending order of random list:",result)
##average of the list
print("average of the list:",sum(result)/len(result))

random numbers list: [72, 58, 47, 27, 8, 16, 58, 77, 48, 91, 38, 58]
Asscending order of random list: [8, 16, 27, 38, 47, 48, 58, 58, 58, 72, 77, 91]
descending order of random list: [91, 77, 72, 58, 58, 58, 48, 47, 38, 27, 16, 8]
average of the list: 49.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [72]:
# Your code here
import re
sent1 = input("enter your 1st sentence:")
words=sent1.split()
#removing puctuations from sentence 1
sent1 = re.sub(r'[^\w\s]','',sent1)
# printing vowels from sentence 1
vowel = {s: len(re.findall(f"{s}", sent1)) for s in "aeiou"}
words_sent1=set(sent1.split())
print(words)
print(sent1)
print("number of vowels in sentence 1",vowel)
sent2 = input("enter your 2nd sentence:")
words=sent2.split()
# removing puctuations from sentence 2
sent2 = re.sub(r'[^\w\s]','',sent2)
# printing vowels from sentence 2
vowel = {s: len(re.findall(f"{s}", sent2)) for s in "aeiou"}
words_sent2=set(sent2.split())
# common occuring words in both sentences
common = words_sent1 & words_sent2
print(words)
print(sent2)
print("number of vowels in sentence 2",vowel)
print("common words in both sentences",common)

enter your 1st sentence:i am good ?
['i', 'am', 'good', '?']
i am good
number of vowels in sentence 1 {'a': 1, 'e': 0, 'i': 1, 'o': 2, 'u': 0}
enter your 2nd sentence:i am bad !
['i', 'am', 'bad', '!']
i am bad
number of vowels in sentence 2 {'a': 2, 'e': 0, 'i': 1, 'o': 0, 'u': 0}
common words in both sentences {'i', 'am'}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [44]:
# Your code here
#importing math functions
import math
print('r V')
#range for r values
for r in range(1,11):
        print(r,4/3*math.pi*r*r*r)

r V
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923255
4 268.082573106329
5 523.5987755982989
6 904.7786842338604
7 1436.755040241732
8 2144.660584850632
9 3053.628059289279
10 4188.790204786391


# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [1]:
# Your code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from sklearn.preprocessing import StandardScaler

In [3]:
pwd

'C:\\Users\\nekka\\OneDrive\\Desktop\\INFO 5731'

In [65]:
home = pd.read_csv('Assignment1_denton_housing.csv')
home.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [74]:

#url='C:\\Users\\nekka\\OneDrive\\Desktop\\INFO 5731\\Assignment1_denton_housing.csv'
#house = pd.read_csv(url, index_col=0)

#number of occupied houses

full_houses = home[home['title_field']=='Occupied Housing Units'].sort_values(by=['year'])

#difference in number of occupied housing units from year to year

new_house=[list(full_houses['value'].values)[iteration1]-list(full_houses['value'].values)[iteration1+1]\
           for iteration1 in range(len(full_houses)-1)]
#sorting values in asscending order
new_house=sorted(new_house)
new_house

[-5091, -2622, -1565, -1404, 303, 795]

In [77]:
import pandas as pd
import numpy as np

url='C:\\Users\\nekka\\OneDrive\\Desktop\\INFO 5731\\Assignment1_denton_housing.csv'
data = pd.read_csv(url, index_col=0)
unique_years = sorted(list(home['year'].unique()))

#newhouse_df=pd.DataFrame()
#unique years
newhouse_df['year']=unique_years
#number of occupied houses 
full_houses = home[home['title_field']=='Occupied Housing Units'].sort_values(by=['year'])
#number of unoccupied houses
empty_houses = home[home['title_field']=='Vacant Housing Units'].sort_values(by=['year'])
#creating dataframe
newhouse_df=pd.DataFrame()
#calling vacant housing units and occupied housing units values from dataset
newhouse_df['Vacant Housing Units']=empty_houses['value'].values
newhouse_df['Occupied Housing Units']=full_houses['value'].values
#calculating the percentage of housing units which are vacant
newhouse_df['Percent of Vacant House'] = [(newhouse_df['Vacant Housing Units'][iteration1]*100)/\
                                         (newhouse_df['Vacant Housing Units'][iteration1]+newhouse_df['Occupied Housing Units'][iteration1])\
                                         for iteration1 in range(len(newhouse_df))]
#calculating the percentage of housing units which are occupied 
newhouse_df['Percent of Occupied  House'] = [(newhouse_df['Occupied Housing Units'][iteration1]*100)/\
                                         (newhouse_df['Vacant Housing Units'][iteration1]+newhouse_df['Occupied Housing Units'][iteration1])\
                                         for iteration1 in range(len(newhouse_df))]
newhouse_df

,Vacant Housing Units,Occupied Housing Units,Percent of Vacant House,Percent of Occupied House
0,4483,36711,10.882653,89.117347
1,3583,35916,9.071116,90.928884
2,3635,41007,8.142556,91.857444
3,4213,40704,9.379522,90.620478
4,3013,42108,6.677600,93.322400
5,4215,43673,8.801788,91.198212
6,2814,46295,5.730111,94.269889

In [68]:
max_empty_houses=max(home[home['title_field']=='Vacant Housing Units'].value)
empty_houses=empty_houses[empty_houses['value']==max_empty_houses]
empty_houses

    year           title_field  value
19  2008  Vacant Housing Units   4483

In [69]:
max_full_houses=max(home[home['title_field']=='Occupied Housing Units'].value)
full_houses=full_houses[full_houses['value']==max_full_houses]
full_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [70]:
import statistics as stat
print(stat.harmonic_mean(list(home[home['title_field']=='Total Housing Units'].value)))

44398.28543969185